<!DOCTYPE html>
<html>
<body>

<h1>Welcome, <%= current_user.user_name %></h1>
<h2>Your manager is : XXX</h2>
<h3>Your projects:</h3>
<ol>
  <li>One</li>
  <li>Two</li>
  <li>Three</li>
  <li>Four</li>
</ol>



<p><a href="/clients/logout">Logout</a> <br/></p>

</body>
</html>
