<!DOCTYPE html>
<html>
<body>

<h1>Welcome, <%= current_manager.user_name %></h1>
<h4><a href="/projects/create">Create a new project</a></h4>
<h3>Your projects:</h3>
<ol>
  <li>One</li>
  <li>Two</li>
  <li>Three</li>
  <li>Four</li>
</ol>



<p><a href="/managers/logout">Logout</a> <br/></p>

</body>
</html>


