<!DOCTYPE html>
<html>
<body>

 <h4><a href="/projects/new">Create a new project</a></h4>
<h3>Here are your projects:</h3>





<p><a href="/managers/logout">Logout</a> <br/></p>

</body>
</html>


 
<!DOCTYPE html>
<html>
<body>

<h1>Welcome, <%=  %></h1>



<p><a href="/clients/logout">Client Logout</a> <br/></p>
 </body>
</html>
