<h1>"Relion Client Management"</h1>





<form action="/user/signup" method="GET">
  <h3>Don't have an account?</h3> 
  <input type="submit" value="Client Join">
</form><br/>

<form action="/manager/signup" method="GET">
  <input type="submit" value="Manager Join">
</form><br/>

<form action="/user/login" method="GET">
  <h3>Already have an account?</h3> 
  <input type="submit" value="Client Login">
</form><br/>

<form action="/manager/login" method="GET">
  <input type="submit" value="Manager Login">
</form>